<h1>Sitemap#index</h1>
<p>Find me in app/views/sitemap/index.html.erb</p>

<%= link_to('Welcome!', '/welcome' ) %>
<%= link_to('About me', '/aboutme' ) %>
<%= link_to('Gallery', '/gallery' ) %>
<%= link_to('Some news', '/news' ) %>
<%= link_to('My Resume', '/resume' ) %>
<%= link_to('Work', '/work' ) %>