<% if @first_visit == true %> <!-- CHANGE THIS BACK TO TRUE we do not want the result from ruby tags to appear inside our page ergo we do not use <%= %> -->
	<style> body {background-color:#cc3333;}
	</style>
<% else %>
	<h1>Hey again</h1>
<% end %>

<!-- if they're sesssion admin, then welcome as admin -->
<br> 

<% if user_signed_in? && current_user.admin %> 
 You're an admin
<% end %> 

<!-- <% if current_user.theme %> -->

<% if user_signed_in? && !current_user.admin %>
	<%= form_tag("/shalom") do %>
	  <%= label_tag('my_password', 'Your Admin Password:') %>
	  <%= text_field_tag('my_password') %>
	  <%= submit_tag("Submit") %>
	<% end %>
<% end %> 
<% end %> 