<% if @first_visit == true %> <!-- we do not want the result from ruby tags to appear inside our page ergo we do not use <%= %> -->
	<h1>Welcome</h1>
	<style> body {background-color:#cc3333;}
	</style>
<% else %>
	<h1>Hey again</h1>
<% end %>

<%= @view %>

<!-- if they're sesssion admin, then welcome as admin -->

<%= form_tag("/shalom") do %>
  <%= label_tag('my_name', "Your name:") %>
  <%= text_field_tag('my_name') %>
  <%= label_tag('my_password', 'Your Password:') %>
  <%= text_field_tag('my_password') %>
  <%= submit_tag("Submit") %>
<% end %>


