<h1> Gallery </h1>

<% @images.each do |image| %>
  <%= image_tag( image.file_name ) %>
  <%= image.name %>
  <%= image.description %>
<% end %>

<% @image_names.each do |value| %> <!-- using @ we can pin variable from controller to view -->
	<%= image_tag(value + '.jpeg') %> 
<% end %>

<!-- <%= 2*55 %> whatever i put in between <% %> should be evaluated as ruby code -->



<!-- <p>
<% if 'sean'.length > 3 %>
you have a long name
<% else %> 
you have a very, very short name
<% end %> 
</p> -->

<style>
	img { width: 20%;}
</style>