<!DOCTYPE html> <!-- stuff in here affects  -->
<html>
<head>
  <title> Sean's Rails Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %> <!-- this is where the view gets affected -->

<!-- user visits welcome page
store user input in session ID
session ID affects styles in layout
-->
	
	<% if session['color'] == 'pink' %> <!-- Use 2 equal signs for a logical argument -->
		<style> body {background-color:#f3b9db;}
		</style>
	<% else session['color'] == 'blue' %> 
		<style> body {background-color:#b9ebf3;}
		</style>
	<% end %>


	<footer> 
		<%= link_to('Sitemap', sitemap_page_path ) %>
		<!-- DOESN'T WORK @view = @view_aboutme + @view_welcome -->
		<h2> View Count: <%= @view %> </h2>
	</footer>


</body>
</html>
