<!DOCTYPE html>
<html>
<head>
  <title> Sean's Rails Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
 
<% if user_signed_in? %>
	<%= link_to current_user.email, edit_user_registration_path %> 
	<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% else !user_signed_in? %>
	<%= link_to "Sign in", new_user_session_path %>
<% end %>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %> <!-- this is where the view gets affected -->

<!-- user visits welcome page
store user input in session ID
session ID affects styles in layout
-->
	
<% if user_signed_in? && current_user.theme %>
	<% if current_user.theme.color == 'pink' %>
		<style> body {background: pink;}
		</style>
	<% elsif current_user.theme.color == 'blue' %> 
		<style> body {background-color: blue;}
		</style>
	<% end %>
<% end %> 


	<footer> 
		<%= link_to('Sitemap', sitemap_page_path ) %>
	</footer>


</body>
</html>
