<!DOCTYPE html> <!-- stuff in here affects  -->
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %> <!-- this is where the view gets affected -->
	

	<div>
		 Made by <a target="_blank" href="https://www.youtube.com/watch?v=3Yd4GG3bed0">Bad Boy Productions </a>&reg;
	</div>
	<footer> 
		<%= link_to('Sitemap', sitemap_page_path ) %>
		<!-- DOESN'T WORK @view = @view_aboutme + @view_welcome -->
		<h2> View Count: <%= @view %> </h2>
	</footer>


</body>
</html>
